openapi: 3.0.4
info:
  title: Math Calculator
  description: >-
    Math Calculator performs mathematical operations including arithmetic,
    number properties, base conversions, and expression evaluation.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/math:
    post:
      summary: Basic Arithmetic
      description: >-
        Perform basic math operations: add, subtract, multiply, divide, power,
        modulo
      operationId: math
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  result: 15
                  operation: add
                  input:
                    a: 10
                    b: 5
                  steps:
                    - 10 + 5 = 15
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Operation to perform
                a:
                  type: number
                  description: First number
                b:
                  type: number
                  description: Second number
              required:
                - operation
                - a
                - b
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  operation: add
  a: 10
  b: 5
